.half-image{
    padding: 0px !important;
    margin: 0px !important;
    text-align: right;
}
.half-image img{  
    height: 100vh;
    width: 100%;
     background-size: cover;

    }
.main-container{
    justify-content: space-between;
}
.form-container{
    text-align: left;
    width: 60%;
    margin: 180px auto !important;
    
}
.login-title{
    text-align: center;
    margin-bottom: 10%;
    text-transform: uppercase;
    color: #0B5ED7;
    letter-spacing: 4px;
}
.email-class,.password-class{
    border: none ;
    border-bottom: 2px solid #0B5ED7 !important;
    border-left: 2px solid #0B5ED7 !important;
    border-top: 2px solid #0B5ED7 !important;
    border-radius: 0px;
    background-color: transparent;
    padding: 5px;
    font-size: 16px;
    padding-bottom: 6px !important;
    border-radius: 5px;

    
}
.email-class:focus,.password-class:focus{
    box-shadow: none;
    background-color: transparent;


}

.btns{
  display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 2%;
}
.btns button{
    border-radius: 20px !important;
    padding: 8px 20px;
}

.hidden{
    display: none;
}
.email-icon,.password-icon{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #0B5ED7 !important;
    border-right: 2px solid #0B5ED7 !important;
    border-top: 2px solid #0B5ED7 !important;
    font-size: 22px;
    border-radius: 5px;
    
}
.signin{
    background-color: #EDF0F5;
}
.hidden{
    display: none;
}
.show{
    display: inline-block;
}

@media only screen and (max-width:900px){
    .half-image{
        display: none;
    }
    .btns button{
        border-radius: 20px !important;
        padding: 8px 20px;
    }
}
@media only screen and (max-width:468px){
   
    .btns button{
        border-radius: 20px !important;
        padding: 4px 15px;
    }
}
@media only screen and (max-width:350px){
   
    .form-container{
        width: 80%;
    }
}